<mat-toolbar class="footer-container">
  <div class="block-content">
    <span class="title">Sobre</span>
    <p class="description">Testando</p>
  </div>
  <div class="block-content">
    <span class="title">My Application</span>
    <p class="description">Testando</p>
  </div>
  <div class="block-content">
    <span class="title">My Application</span>
    <p class="description">Testando</p>
  </div>
  <div class="block-content">
    <span class="title">My Application</span>
    <p class="description">Testando</p>
  </div>
</mat-toolbar>

<mat-toolbar class="copyright-area">
  <span class="text"
    >Criado e desenvolvido por:
    <a href="https://tecnorth.com.br/" target="_blank"> Tec North</a></span
  >
</mat-toolbar>
