<mat-card-title class="title-page">Mais vendidos</mat-card-title>
<div class="container">
  <mat-icon class="arrow-left" aria-hidden="false" aria-label="Esquerda"
    >arrow_back_ios</mat-icon
  >
  <mat-card class="card">
    <img
      class="img-book"
      src="../../../assets/img/livro1.png"
      alt="Photo of a Shiba Inu"
    />
    <button class="price">24,90</button>
    <mat-card-content>
      <div class="info-card">
        <mat-card-title>As Crônicas de Nárnia</mat-card-title>
        <mat-card-subtitle>C. S. Lewis</mat-card-subtitle>
      </div>
      <p>
        Viagens ao fim do mundo, criaturas fantásticas e batalhas épicas entre o
        bem e o mal - o que mais um leitor poderia querer de um livro?
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <img
      class="img-book"
      src="../../../assets/img/livro2.png"
      alt="Photo of a Shiba Inu"
    />
    <button class="price">12,90</button>
    <mat-card-content>
      <div class="info-card">
        <mat-card-title
          >A revolução dos bichos: Um conto de fadas</mat-card-title
        >
        <mat-card-subtitle>George Orwell</mat-card-subtitle>
      </div>
      <p>
        Verdadeiro clássico moderno, concebido por um dos mais influentes
        escritores do século XX, A revolução dos bichos é uma fábula sobre o
        poder. Narra a insurreição dos animais de uma granja contra seus
        donos...
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <img
      class="img-book"
      src="../../../assets/img/livro3.png"
      alt="Photo of a Shiba Inu"
    />
    <button class="price">28,78</button>
    <mat-card-content>
      <div class="info-card">
        <mat-card-title>Admirável mundo novo</mat-card-title>
        <mat-card-subtitle>Aldous Leonard Huxley</mat-card-subtitle>
      </div>
      <p>
        Um clássico moderno, o romance distópico de Aldous Huxley é
        incontornável para quem procura um dos exemplos mais marcantes da
        tematização de estados autoritários, ao lado de 1984, de George Orwell
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <img
      class="img-book"
      src="../../../assets/img/livro4.png"
      alt="Photo of a Shiba Inu"
    />
    <button class="price">34,49</button>
    <mat-card-content>
      <div class="info-card">
        <mat-card-title>Vidas secas</mat-card-title>
        <mat-card-subtitle>Graciliano Ramos</mat-card-subtitle>
      </div>
      <p>
        Vidas secas pertence à segunda fase modernista da literatura brasileira,
        conhecida como “regionalista” ou “romance de 30”. Denuncia fortemente as
        mazelas do povo brasileiro, principalmente a situação de miséria do
        sertão nordestino.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-icon class="arrow-right" aria-hidden="false" aria-label="Esquerda"
    >arrow_forward_ios</mat-icon
  >
</div>
