.container {
  padding: 0rem 0rem 5rem 0rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.arrow-left {
  color: #fff;
  padding: 0rem 0rem 0rem 5rem;
}

.arrow-right {
  color: #fff;
  padding: 0rem 5rem 0rem 0rem;
}

.title-page {
  text-align: center;
  color: #fff;
  padding: 1.5rem 0rem 1rem 0rem;
}

.card {
  display: inline-block;
  flex-direction: column;
  width: 12rem;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 0px 0px 0px;
}

.img-book {
  width: 180px;
  height: 279px;
}

.img-book:hover {
  opacity: 0.5;
  transition-delay: width 2s, height 4s;
  cursor: pointer;
}

button.price {
  padding: 0rem 0rem 0rem 0rem;
  margin-top: -0.3rem;
}

.price {
  width: 180px;
  height: 35px;
  font-size: 1.2rem;
  color: #fff;
  border: 0px;
  background: #bf0811;
}

.price:hover {
  opacity: 0.5;
  transition-delay: width 2s, height 4s;
  cursor: pointer;
}

.mat-card-title {
  padding-top: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  transition-delay: width 2s, height 4s;
  cursor: pointer;
}
