<mat-card-title class="title-page">Mais vendidos</mat-card-title>
<div class="container">

    <mat-card class="card">
        <img class="img-book" src="../../../assets/img/livro1.png" alt="Photo of a Shiba Inu">
        <button class="button-buy">Comprar</button>
        <mat-card-content>
            <div class="info-card">
                <mat-card-title>As Crônicas de Nárnia</mat-card-title>
                <mat-card-subtitle>C. S. Lewis</mat-card-subtitle>
            </div>
            <p>
                Viagens ao fim do mundo, criaturas fantásticas e batalhas épicas entre o bem e o mal - o que mais um leitor poderia querer de um livro?
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <img class="img-book" src="../../../assets/img/livro1.png" alt="Photo of a Shiba Inu">
        <button class="button-buy">Comprar</button>
        <mat-card-content>
            <div class="info-card">
                <mat-card-title>As Crônicas de Nárnia</mat-card-title>
                <mat-card-subtitle>C. S. Lewis</mat-card-subtitle>
            </div>
            <p>
                Viagens ao fim do mundo, criaturas fantásticas e batalhas épicas entre o bem e o mal - o que mais um leitor poderia querer de um livro?
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <img class="img-book" src="../../../assets/img/livro1.png" alt="Photo of a Shiba Inu">
        <button class="button-buy">Comprar</button>
        <mat-card-content>
            <div class="info-card">
                <mat-card-title>As Crônicas de Nárnia</mat-card-title>
                <mat-card-subtitle>C. S. Lewis</mat-card-subtitle>
            </div>
            <p>
                Viagens ao fim do mundo, criaturas fantásticas e batalhas épicas entre o bem e o mal - o que mais um leitor poderia querer de um livro?
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <img class="img-book" src="../../../assets/img/livro1.png" alt="Photo of a Shiba Inu">
        <button class="button-buy">Comprar</button>
        <mat-card-content>
            <div class="info-card">
                <mat-card-title>As Crônicas de Nárnia</mat-card-title>
                <mat-card-subtitle>C. S. Lewis</mat-card-subtitle>
            </div>
            <p>
                Viagens ao fim do mundo, criaturas fantásticas e batalhas épicas entre o bem e o mal - o que mais um leitor poderia querer de um livro?
            </p>
        </mat-card-content>
    </mat-card>

</div>
